<h3>Point-Set Topology 2</h3>
<u>A treatment of basic point-set topology including extensions of open/closed sets and related concepts.</u>
<div class="container">
    <div class="row">
        <div id="PST2Topics" class="col-2">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#PST2Intro">Introduction</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2BasicSets">Basic Set Facts and Algebra</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2Defs">First Definitions</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2Interiors">Open and Closed Sets; Interiors and Closures</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2Kuratowski">Kuratowski's 14-set Theorem</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2OpenPlus">Extensions of Open/Closed Sets</a></li>
                <li class="nav-item"><!--a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2"--><!--/a--></li>
                <li class="nav-item"><!--a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2"--><!--/a--></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#PST2Biblio">Bibliography</a></li>
                
            </ul>
        </div>
        <div id="PST2Content" class="col tab-content">
			<!-- Tab panes -->

            <div class="tab-pane container active" id="PST2Intro">
                {% include PST2/intro.md %}
            </div>  <!-- tab pane -->

            <div class="tab-pane container" id="PST2BasicSets">
                {% include PST2/BasicSets.md %}
            </div>  <!-- tab pane -->

            <div class="tab-pane container active" id="PST2Defs">
                <!-- {% include Jesus/intro.html %} -->
            </div>  <!-- tab pane -->

            <div class="tab-pane container active" id="PST2Interiors">
                <!-- {% include Jesus/intro.html %} -->
            </div>  <!-- tab pane -->

            <div class="tab-pane container active" id="PST2Kuratowski">
                <!-- {% include Jesus/intro.html %} -->
            </div>  <!-- tab pane -->

            <div class="tab-pane container active" id="PST2OpenPlus">
                <!-- {% include Jesus/intro.html %} -->
            </div>  <!-- tab pane -->

            <div class="tab-pane container active" id="PST2Biblio">
                <!-- {% include Jesus/intro.html %} -->
            </div>  <!-- tab pane -->

        </div>
    </div>
</div>
