<h3>Calvin C's Thoughts on Christian Theology and Related Topics</h3>
<p>
This is a semi-random collection of my thoughts and views about God. Buried in these notes is my personal theology. I strongly believe that every Christian who has been blessed with the ability to express themselves in writing should write down their personal theology. Given the number of times I've given that advice to others, it's far past time to do it myself.
</p>
<p>
Simply by reading this, I'll exert some influence on what you think and believe. I hope, though, that this influence is minor. More importantly, I pray that any influence I have is really that of the Holy Spirit speaking through me. If you are seeking guidance on theology, then by all means, read what I have to say, read what others have to say, but of utmost importance, read what God has to say (i.e. - read your Bible; Scripture First!) and listen to the Holy Spirit. God's Word is, of course, the only theology book you really need.
</p>