<h3>Lucky Charm</h3>
<p>
My journey from opposing God to submitting to God wasn't instant. For some people, it can be an instantaneous event, like flipping a switch, but it was not so for me. My faith journey was a journey, a process. Actually, it still is - I am firmly committed to Christ, but my faith continues to grow, and I still have times when I want to run from God rather than run toward Him. Much more on that later.
</p>
<p>
Right now I want to talk about my ”lucky charm” phase, when I wasn't submitting to God at all, but rather, treating God as my lucky charm. If you identify with this, be warned, God is sovereign, He is ruler, and He requires your submission. God is not a genie or other mythical character who is subject to your wishes. God's will is supreme, and you must submit to His will. Your will is meaningless, and the only reason God would align Himself with your will is to bring Himself glory. If what you really want is a lucky charm, then go get a rabbit's foot or a 3-leaf clover or drill a hole in a penny or something. God does not exist to grant your wishes. Knowing that up front and submitting to His lordship from the beginning will save you much time and waste.
</p>
<h3>Amulet</h3>
<p>
Another phase I went through in my Christian walk, or more accurately, my pre-Christian walk, was what I call the ”amulet phase,” where I wore my Christianity as a lucky charm and as a badge of distinction / honor. Much of what I said in ”Lucky Charm” still applied, but add to that the attitude or expectation of special treatment because I had ”come to God” or ”found God.” A lot of Christians go through a similar phase. Join me in praying that those struggling with their ”amulet phase” hear God speak to them the He exists only
for His own glory, not man's. God is not to be displayed to bring attention
or favor to a man.
</p>
<p>
<i>
Read Acts 8:9-24 (Simon the sorcerer, who wanted a ”Jesus amulet” so that he (Simon) could become greater), Gal 1:6-9 (not totally on point, but not totally off-point either), Titus 1:10, 2 Peter 2:15 (better yet, all of chapter 2), 1 John 4:1, Jude 4.
</i>
</p>
