<h3>Developing Your Own Statement of Belief</h3>
<p>
As I mentioned before, I strongly believe that every Christian who has been blessed with the ability to express themselves in writing should write down their personal theology. Here is some advice I've given to others about how to go about doing that.
</p>
<p>
What do you believe about the Bible?
<br>What do you believe about God: God the Father? Jesus? The Holy Spirit? 
<br>What do you believe about sin?
<br>What do you believe about man and his relation to God?
<br>What do you believe about yourself and your relation to God?
</p>
<p>
Other things to think about / Tips on living in submission to Christ: 
<ul>
<li>It's all about Jesus</li>
<li>Fellowship</li>
<li>Prayer, Reading the Word, Listening to the Spirit</li>
<li>Sharing your faith</li>
<li>Developing your faith</li>
<li>Love</li>
</ul>
</p>
