<h3>Calvin C's Statement of Belief</h3>
<p>
God exists. He has no need to be proven or demonstrated. He is. Moreover, He is absolutely sovereign. Any entity which is anything less than absolutely powerful and absolutely sovereign is flawed and cannot be God.
<br><i>John 1:1-2</i>
</p>
<p>
If a person doubts God's existence, it is because they choose to reject God. Most likely, this is because they do not want to accept His authority.
<br><i>Rom 1:20-21</i>
</p>
<p>
God gives us everything we need to know about Him through His Word, His Spirit and prayer. Any ”revelation” about God which contradicts His Word is false.
<br><i>Rom 1:20, John 14:17, 15:26, Rom 8:16, Col 1:9, Eph 1:15-19, 2 Tim 3:16, Rev 22:18-19</i>
</p>
<p>
Sin is opposing, disobeying or defying God. Every man ever, with the sole exception of Jesus, is/was/will be chained to a sin nature; all men are sinners, as the sin nature (commonly called the flesh) is inclined to defy God. The flesh desires independence from any control, including independence from God, which defies His will. Only belief in Jesus Christ and acceptance of Him as Savior and Lord can free us from bondage to our sin nature.
<br><i>Rom 3:10-12, 6:11,16-18</i>
</p>
<p>
Having a sin nature, we have no ability within ourselves of having a right or proper relationship with God. 
<br><i>Eph 2:8-9, Rom 3:23, Isa 64:6</i>
</p>
<p>
Jesus Christ, the Son of God, is (NOT was) God, and during His time on earth was completely man while continuing to be completely God. He was, and is, sinless.
<br><i>Heb 1:1-4, 2:9-18,  Phil 2:6-11, 1 John 3: 5</i>
</p>
<p>
Being completely man, completely God, and sinless, Jesus is the ONLY man who ever lived capable of atoning for our sin and capable of bringing us into a right  relationship  with  God.
<br><i>Eph 2:8-9, Gal 4:4,  Rom 5:12-29</i>
</p>
<p>
Man's right, correct and proper relationship with God is to worship and fellowship with Him. Since God and sin are exact opposites, we cannot have a right relationship with God in our sin nature. To have a right relationship with God, we must trust Jesus, accepting His sacrifice for our sin (His death) and His provision for restoring us before God (His resurrection).
<br><i>John l4:6, Col 1:16</i>
</p>
<p>
God so loved the world that He gave Jesus Christ, His only Son, for the salvation of the world. "The world" is meant literally, and indicates God's desire to save every person who ever lived, who is living, and who will live. Only a person's rejection of God (thereby choosing slavery to sin) can thwart God's desire. While the term "salvation" is large and contains a large number of concepts, all that is necessary to know is that to be saved, a person must repent of their sin, believe on the Lord Jesus Christ, and confess Him as Savior and Lord.
<br><i>John 3:16, Rom 10:9-10</i>
</p>
