<h2>Do You Want Me To Work For You??...</h2>
<p>
    If you have hiring influence, I hope to impress you with this site.  I need to have you see my work because, frankly, your HR screeners probably won't give you my resume.  
    You see, I last wrote programs as my primary paid job in 1996.  The reasons why involve some stupid moves on my part, and if we meet, I'll go into why.  
    While I wasn't working in IT, though, I was not asleep; I still coded, my mindset was still that of a programmer, and I still had skills.  
    In fact, I still code, and I am still one of the best programmers you will ever meet.  My database and SQL skills were excellent in the 1990s and remain so to this day.
    One of the reasons for this site is to prove this and demonstrate the value I can add to your organization.
</p>
<p>
</p>
<ul>
    <li>skills, languages, etc</li>
    SQL, Python, Kotlin, Java, HTML, Javascript, CSS, SAP, 
    <li>games - tictactoe, Banker</li>
    <li>link to WICS?</li>
</ul>
I hold a Bachelor's degree in Mathematics
<div class="ms-auto d-lg-block d-none">
    <ul class="social-icon">

        <li class="social-icon-item">
            <a href="https://github.com/calvinc-org-10" target="_blank" class="social-icon-link bi-github"></a>GitHub
        </li>
        
        <li class="social-icon-item">
            <a href="https://www.linkedin.com/in/curtindolph-c-10" target="_blank" class="social-icon-link bi-linkedin"></a>LinkedIn
        </li>
        
    </ul>
</div>

