<h1>Main Page...</h1>
Test - theme settings:
    <ul>
      <li>
        <button type="button" class="d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
          <svg class="bi me-2 opacity-50"><use href="#sun-fill"></use></svg>
          Light
          <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
        </button>
      </li>
      <li>
        <button type="button" class="d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="true">
          <svg class="bi me-2 opacity-50"><use href="#moon-stars-fill"></use></svg>
          Dark
          <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
        </button>
      </li>
      <li>
        <button type="button" class="d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
          <svg class="bi me-2 opacity-50"><use href="#circle-half"></use></svg>
          Auto
          <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
        </button>
      </li>
    </ul>
<span>
</span>